<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<import resource="spring/LoginAndLogoutSpring.xml" />
	<import resource="spring/UnitSpring.xml" />
	<import resource="spring/UserSpring.xml" />
	<import resource="spring/ServiceSpring.xml" />
	<import resource="spring/QuestionSpring.xml" />
</beans>